@media (min-width:600px){
    .div1 {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        line-height:100px;
        color:black;
        font-size:20px;
        text-align: center;
    }

    .box1 {
        float: left;
        padding: 0.5em 1em;
        margin: 7em 0 0 1em;
        border: double 5px #4ec4d3;
        width: 40%;
    }
    .box2 {
        float: right;
        padding: 0.5em 1em;
        margin: 7em 1em 0 0;
        border: double 5px #4ec4d3;
        width: 40%;
    }
    .box3 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 0 0 1em;
        border: double 5px #4ec4d3;
        width: 40%;
    }
    .box4 {
        float: right;
        padding: 0.5em 1em;
        margin: 1em 1em 0 0;
        border: double 5px #4ec4d3;
        width: 40%;
    }
    .box5 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 0 0 1em;
        border: double 5px #4ec4d3;
        width: 40%;
    }
    h2{
        text-align : center;
    }
}
@media (max-width:599px){
    .div1 {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        line-height:100px;
        color:black;
        font-size:10px;
        text-align: center;
    }
    .box1 {
        float: left;
        padding: 0.5em 1em;
        margin: 5em 0 0 0.5em;
        border: double 5px #4ec4d3;
        width: 33%;
    }
    .box2 {
        float: right;
        padding: 0.5em 1em;
        margin: 5em 0.5em 0 0;
        border: double 5px #4ec4d3;
        width: 33%;
    }
    .box3 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 0 0 0.5em;
        border: double 5px #4ec4d3;
        width: 33%;
    }
    .box4 {
        float: right;
        padding: 0.5em 1em;
        margin: 1em 1em 0 0;
        border: double 5px #4ec4d3;
        width: 33%;
    }
    .box5 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 0 0 0.5em;
        border: double 5px #4ec4d3;
        width: 33%;
    }
    h2{
        font-size: 20px;
        text-align : center;
    }
}
@media (min-width:1280px){
    .div1 {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        line-height:100px;
        color:black;
        font-size:20px;
        text-align: center;
    }
    .box1 {
        float: left;
        padding: 0.5em 1em;
        margin: 7em 0 0 1em;
        border: double 5px #4ec4d3;
        width: 28%;
    }
    .box2 {
        float : left;
        padding: 0.5em 1em;
        margin: 7em 1em 0 1em;
        border: double 5px #4ec4d3;
        width: 28%;
    }
    .box3 {
        float: right;
        padding: 0.5em 1em;
        margin: 7em 1em 0 0;
        border: double 5px #4ec4d3;
        width: 28%;
    }
    .box4 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 0 0 1em;
        border: double 5px #4ec4d3;
        width: 28%;
    }
    .box5 {
        float: left;
        padding: 0.5em 1em;
        margin: 1em 1em 0 1em;
        border: double 5px #4ec4d3;
        width: 28%;
    }
    h2{
        text-align : center;
    }
}
